.toolWrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 3px solid gray;
    padding: 20px;
}

.leftToolDataColumn {
    float: left;
    width: 45%;
    text-align: center;
}

.rightToolDataColumn {
    float: left;
    width: 48%;
    text-align: center;
    border: 3px solid grey;
    border-radius: 15px;
    height: 288px;
}

.toolDataPhoto {
    width: 360px;
    height: 288px;
    border-radius: 15px;
}

.toolNameProperty {
    text-decoration: underline;
}

.toolDescriptionProperty {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 3px solid grey;
    font-weight: bold;
    font-style: italic;
    border-radius: 15px;
    padding: 20px
}

.toolPropertiesWrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
}

.toolPropertyLabel {
    width: 100px;
    float: left;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 20%;
    margin-bottom: 10px;
}

.toolPropertyValue {
    width: 120px;
    margin-left: 10%;
    text-align: center;
    float: left;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}

.rentButtonWrapper {
    width: 120px;
    margin-left: 38%;
    margin-top: 20px;
}

.rentButton {
    border: none;
    background: dodgerblue;
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 120px;
}

.rentButton:hover {
    border: none;
    background: deepskyblue;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 120px;
}

.toolManagementButtonWrapper {
    margin-top: 20px;
    margin-left: 18%;
}

.editToolButtonWrapper {
    float: left;
}

.editToolButton {
    border: none;
    background: #006a00;
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 120px;
}

.editToolButton:hover {
    border: none;
    background: forestgreen;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 120px;
}

.deleteToolButtonWrapper {
    float: left;
    margin-left: 40px;
}

.deleteToolButton {
    float: left;
    border: none;
    background: red;
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 120px;
}

.deleteToolButton:hover {
    border: none;
    background: orangered;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    height: 40px;
    width: 120px;
}

.toolDeleteResultErrorMsg {
    width: 75%;
    padding: 15px;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 15px auto;
}