.categoryPicker {
    width: 100%;
    height: 220px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.categoryWrapper {
    width: 40%;
    height: 200px;
    float: left;
    padding: 10px;
    margin-top: 5px;
    margin-left: 4%;
    margin-right: auto;
}

.categoryButtonWrapper {
    width: 6%;
    margin-left: auto;
    margin-right: auto;
}

.categoryButton {
    width: 150px;
    height: 150px;
    border: none;
    background: dodgerblue;
    border-radius: 15px;
    color: white;
}

.categoryButton:hover {
    width: 150px;
    height: 150px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: deepskyblue;
}

.faIcon {
    font-size: 100px;
}

.newToolsWrapper {
    text-align: center;
}

.tableWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 3px solid mediumblue;
    border-radius: 15px;
}

.tableHeaders {
    font-size: 16px;
    font-weight: 400;
}

.tableHeader {
    width: 10%;
}

.firstTableData {
    font-weight: bold;
    padding: 10px;
}

.secondTableData {
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}

.thirdTableData {
    font-weight: bold;
    border-radius: 15px;
    font-style: italic;
    padding: 10px;
}

.fourthTableData {
    font-weight: bold;
    padding: 10px;
}

.tableDataPhoto {
    width: 180px;
    height: 144px;
    border-radius: 15px;
}

.checkToolButton {
    border: none;
    background: #03a89e;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    color: white;
}

.checkToolButton:hover {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background: #00a45a;
    color: white;
}

.tableRowWrapper {
}