.accountDataWrapper {
    width: 50%;
    border: 3px solid darkgrey;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 15px;
}

.userDataWrapper {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
}

.userDataLeftColumn {
    margin-left: 8%;
    width: 40%;
    float: left;
}

.userDataRightColumn {
    width: 40%;
    float: left;
}

.userDataPropertyWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.userDataValue {
    font-style: italic;
}

.userDataLabel {
    font-weight: bold;
}

.userReservationButton {
    margin-top: 10px;
    border: none;
    background: dodgerblue;
    color: white;
    border-radius: 30px;
    height: 35px;
    width: 150px;
}

.userReservationButton:hover {
    margin-top: 10px;
    border: none;
    background: deepskyblue;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    height: 35px;
    width: 150px;
}