.searchResultWrapper {
    margin-top: 20px;
    text-align: center;
}

.searchResultTableWrapper {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    border: 3px solid mediumblue;
    padding: 15px;
    border-radius: 15px;
}

.searchResultErrorMsg {
    width: 75%;
    padding: 15px;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.searchResultTableHeaders {
    font-size: 16px;
    font-weight: 400;
}

.searchResultTableHeader {
    width: 14%;
}

table {
    border-collapse: collapse;
}

.searchResultTableData {
    font-weight: bold;
    padding: 10px;
}

.searchResultTableDataName {
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
}

.searchResultTableDataDescription {
    font-weight: bold;
    border-radius: 15px;
    font-style: italic;
    padding: 10px;
}

.searchResultTableDataPhoto {
    width: 180px;
    height: 144px;
    border-radius: 15px;
    padding: 10px;
}

.searchResultCheckToolButton {
    border: none;
    background: #03a89e;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    color: white;
}

.searchResultCheckToolButton:hover {
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background: #00a45a;
    color: white;
}