.navbar {
    width: 100%;
    height: 80px;
    background-color: dodgerblue;
}

.leftColumn {
    float: left;
    width: 50%;
    text-align: center;
    color: white;
}

.rightColumn {
    float: left;
    width: 50%;
}

.buttonsWrapper {
    width: 100%;
    margin-left: 70%;
}

.toolAddLinkWrapper {
    float: left;
    width: 6%;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
}

.toolAddButton {
    width: 50px;
    height: 50px;
    border: none;
    background: #0a50cc;
    border-radius: 15px;
    color: white;
}

.toolAddButton:hover {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: royalblue;
    color: white;
}

.userAccountLinkWrapper {
    float: left;
    width: 6%;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
}

.userAccountButton {
    width: 50px;
    height: 50px;
    border: none;
    background: #0a50cc;
    border-radius: 15px;
    color: white;
}

.userAccountButton:hover {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: royalblue;
    color: white;
}

.faUserIcon {
    font-size: 40px;
}

.logoutButtonWrapper {
    float: left;
    width: 6%;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.logOutButton {
    width: 50px;
    height: 50px;
    border: none;
    background: #0a50cc;
    border-radius: 15px;
    color: white;
}

.logOutButton:hover {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: royalblue;
    color: white;
}

.loginButtonWrapper {
    float: left;
    width: 6%;
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    margin-left: 40%;
    margin-right: auto;
}

.loginButton {
    width: 50px;
    height: 50px;
    border: none;
    background: #0a50cc;
    border-radius: 15px;
    color: white;
}

.loginButton:hover {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: royalblue;
    color: white;
}
