.wrapper {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid darkgrey;
}

.input {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.inputWrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.loginForm {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.loginButton {
    margin-top: 10px;
}

.registerLinkHeader {
    margin: 5px;
}

.registerLinkWrapper {
    margin-top: 50px;
    margin-bottom: 30px;
}

.loginErrorMsg {
    width: 75%;
    padding: 15px;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.leftColumn {
    float: left;
}

.rightColumn {
    margin-left: 20px;
    float: left;
}

.registerButton {
}