.returnBar {
    margin-top: 10px;
    margin-left: 5%;
}

.returnButton {
    width: 100px;
    height: 50px;
    border: none;
    background: dodgerblue;
    border-radius: 15px;
    color: white;
}

.returnButton:hover {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: deepskyblue;
    color: white;
}

.faArrowIcon {
    font-size: 36px;
}